<div class="container">
  <h1>User List</h1>
</div>

<div class="mat-list-container">
  <mat-list>
    <mat-card class="mat-card" *ngFor="let user of users" [routerLink]="['/user', user.id]">
      <div class="user-info">
        <div class="user-info-head-container">
          <img
            class="user-photo"
            [src]="user.imgUrl"
            alt="{{ user.name }}'s photo"
          />
          <h2>{{ user.title }}</h2>
        </div>
        <div class="user-info-head-container">
          <div mat-line>
            <p>{{ user.description }}</p>
          </div>
        </div>
      </div>
    </mat-card>
  </mat-list>
</div>
